body{
    width: 600px;
    background-color: aquamarine;
    margin: 0 auto;
}
h1{
    font-weight: normal;
    letter-spacing: 4px;
    border-bottom: 3px solid orange;
}
#wrap{
    text-align: center;
}
#con{
    width: 400px;
    margin: 0 auto;
    word-wrap: break-word;
}
#content{
    margin-top: 30px;
}
#btn{
    border-radius: 50px;
    color: white;
    background-color: tomato;
}